body {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 249);
}

.dark {
    background-color: lightslategrey;
    color: azure;
    box-shadow: inset 2px 2px 10px 2px black;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

.logo {
    font-style: italic;
    font-weight: bold;
    letter-spacing: 2px;
    color:rgb(212, 226, 178);
    text-shadow: gold 2px 2px 10px;
}

a {
    text-decoration: none;
    color: azure;
    margin-left: 20px;
}

a:hover {
    color: rgb(126, 1, 126);
}

.select-container {
    margin: 30px 20px;
    height: 300px;
}

.message {
    font-style: italic;
    margin: 30px;
    color: rgb(126, 1, 126);
    text-shadow: rgb(151, 148, 148) 2px 2px 5px;
}

img {
    display: block;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 2px rgb(159, 159, 159);
}

footer {
    padding: 10px;
}

label {
    margin-right: 10px;
}

input {
    margin: 20px 0;
}

.merge {
    margin-top: 20px;
}